.quotes-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.6vh;
    position: relative;
    background: linear-gradient(to right, #6DD5FA, #FF758C);
    padding-bottom: 80px;
}

.quote-container, .stock-container {
    position: absolute;
    width: 40%;
    height: 40vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;

}

.active-container {
    opacity: 1;
    transform: scale(1.05);
}

.yellow-container {
    background-color: rgba(252, 211, 77, 0.9);
    border-radius: 20px;
}

.red-container {
    background-color: rgba(255, 71, 87, 0.9);
    border-radius: 20px;

}

.blue-container {
    background-color: rgba(52, 152, 219, 0.9);
    border-radius: 20px;

}

.green-container {
    background-color: rgba(46, 204, 113, 0.9);
    border-radius: 20px;

}

.purple-container {
    background-color: rgba(155, 89, 182, 0.9);
    border-radius: 20px;

}

.quote-container {
    margin-top: 20px;
    background-color: rgba(44, 62, 80, 0.9);
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    letter-spacing: 0.5px;
}

.quote-author {
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    color:black;
}

.shutdown-icon, .like-icon {
    color: white;
    font-size: 50px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    position: absolute;
    bottom: 150px;
}

.shutdown-icon {
    left: 37%;
    transform: translateX(-60px);
    color: #E74C3C;
}

.like-icon {
    right: 37%;
    transform: translateX(60px);
    color: #2ECC71;
}

.internal-like-icon {
    color: red;
    font-size: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 1; /* Start with the icon hidden */
    transition: opacity 0.3s ease;
    animation: likeIconEffect 0.5s ease forwards; /* Apply the animation */
}

@keyframes likeIconEffect {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.quote-text {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    line-height: 1.5;
}
