* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}
.register {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background-image: url('https://scontent.fceb2-1.fna.fbcdn.net/v/t1.15752-9/399919290_739467321340481_4728921193531309607_n.png?_nc_cat=103&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeH3kT6U4kbW7B9PrLcWBz4S-TnlSC-3rpP5OeVIL7euk4OybS_M-MEvkUwsZ2k4PdfzpS7pWshLEhERLw0n-cHQ&_nc_ohc=BHmpNMFk-tsAX_As9zF&_nc_ht=scontent.fceb2-1.fna&oh=03_AdSsmtLGUYuZgZ5TDdb-HjHXw2ZCeg5RjN9q1CCVSvDakw&oe=657A72FB'); /* Replace with your image path */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: none;
}

.reflect-daily {
  font-size: 3rem;
  color: #e5a692;
  margin-bottom: 0.5em;
}

.reflect {
  color: #e5a692;
}

.daily {
  color: #605ab3;
}

.tagline {
  color: #2c3454;
  font-size: 2rem;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.register-title {
  color: #2c3454;
  margin-bottom: 1em;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.input-group {
  margin-bottom: 1em;
}

.input-label {
  display: block;
  color: #2c3454;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.register-button {
  background-color: #605ab3;
  color: white;
  border: none;
  padding: 0.5em 2em;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.login-prompt {
  color: #2c3454;
  margin-top: 2em;
}

.login-link {
  color: #605ab3;
  text-decoration: none;
}

.back-button {
  background: none;
  border: none;
  color: #b6bdc2;
  cursor: pointer;
  margin-top: 2em;
}

.error-message{
  color: red;
}

@media (max-width: 1080px) {
  .register {
    flex-direction: column;
  }
  .left-panel,
  .right-panel {
    width: 100%;
  }
  .social-media-signup {
    flex-direction: column;
  }
}
